# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Application
pollenisator/results/*
pollenisator/local/*
pollenisator/local/states/*
pollenisator/files/*
pollenisator/centralizedResults/*
*.pyc
pollenisator/ssl/*
!pollenisator/ssl/initServerSSL.ssh
pollenisator/exports/*
!pollenisator/exports/pollenisator_commands.gz
!pollenisator/exports/pollenisator_group_commands.gz
pollenisator/config/tools.d/*
!pollenisator/config/tools.d/tools.json
.vscode
pollenisator/.vscode
venv/
pollenisator/config/client.cfg
pollenisator/config/server.cfg
pollenisator/config/settings.cfg
pollenisator/AllInOne/results/*
!pollenisator/AllInOne/results
