setuptools
setuptools-rust
cryptography>=2.5
dnspython
feedparser
netaddr>=0.7.19
pymongo>=3.11.0
python-docx>=0.8.10
python-pptx>=0.6.8
requests>=2.18.4
connexion
flask>=2.0.0
lark-parser
bcrypt
python-jose>=3.3.0
flask_socketio
