Werkzeug==2.2.3
setuptools
setuptools-rust
cryptography>=2.5
dnspython
connexion[swagger-ui]
feedparser
netaddr>=0.7.19
pymongo>=3.11.0
python-docx>=0.8.11
defusedxml
python-pptx>=0.6.8
requests>=2.18.4
connexion==2.14.2
flask==2.2.3
lark-parser
eventlet
bcrypt
python-jose>=3.3.0
flask_socketio
flask-cors
docxtpl>=0.16.7
markdowntodocx>=0.1.4.1
docker
ruamel.yaml
redis[hiredis]
typing-extensions
